<ion-modal-view style="min-width: 100%; min-height: 100%; top: 0; left: 0; right: 0; bottom: 0">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">About / Contact Us</h1>
        <button class="button button-clear button-primary" ng-click="aboutModal.hide()">Close</button>
    </ion-header-bar>
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">About</div>
            <div class="item item-text-wrap">
                <p>Application Version <small>{{ version }}</small></p>
                <p>ในเวอร์ชั่น beta นี้ ข้อมูลทั้งหมดอยู่ในช่วงทดสอบระบบ</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">Contact Us</div>
            <div class="item item-text-wrap">
                <p>หากมีคำแนะนำหรือข้อสงสัยติดต่อศูนย์พิษวิทยารามาธิบดี ได้ที่อีเมล์ poisrequest@gmail.com</p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>