<ion-view view-title="Blood Results">
    <ion-content>
        <div class="padding border">
            <div class="list">

                <a class="item item-icon-right" ng-click="navigateToBloodResult()">
                ครั้งที่ 1 (12/02/2016 12:00)
                <i class="icon ion-chevron-right"></i>
            </a>

                <a class="item item-icon-right" ng-click="navigateToBloodResult()">
                ครั้งที่ 2 (12/02/2016 18:00)
                <i class="icon ion-chevron-right"></i>
            </a>

            </div>
        </div>
    </ion-content>
</ion-view>