<ion-view title="General Symptom (#3)">
    <ion-content>
        <div class="padding border">
             <div class="card info-list">
                <div class="item item-divider">Information</div>
                <div class="item row">
                    <div class="col">Physician Name :</div>
                    <div class="col">{{user.physician_name}}</div>
                </div>
                <div class="item row">
                    <div class="col">Patient Name :</div>
                    <div class="col">{{patient.patient_name}}</div>
                </div>
            </div>
            <div class="header_title">
                <h3 style="font-weight:600">Does the patient has systemic bleeding?</h2>
                <button class="button" ng-class="b_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('b_y_class', 'b_n_class')">Yes</button>
                <button class="button" ng-class="b_n_class" style="width:40%" ng-click="toggleNoSelection('b_n_class', 'b_y_class')">No</button>
            </div>
            <div class="header_title">
                <h3 style="font-weight:600">Does the patient has impending respiratory failure?</h2>
                <button class="button" ng-class="r_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('r_y_class', 'r_n_class')">Yes</button>
                <button class="button" ng-class="r_n_class" style="width:40%" ng-click="toggleNoSelection('r_n_class', 'r_y_class')">No</button>
            </div>
            
            <ion-list>
                <div class="header_title" style="margin-top:10px;margin-bottom:0px">
                    <h2 style="margin-bottom:0px">Type of Snake</h2>
                </div>
                <div ng-repeat="snake in snakes" class="item item-checkbox" style="padding-left:50px">
                    <div class="checkbox" style="width:40px">
                        <input type="checkbox" ng-model="snakeCheckbox[snake.snake_id]" ng-change="snakeTypeSelect(snake.snake_id)">
                    </div>
                    <div class="text-center">
                        <span style="font-size:18px">{{snake.snake_thai_name}}&nbsp;&nbsp;&nbsp;</span><a href="#" ng-click="openPopover($event, snake.snake_id)" ng-hide="$last"/>คลิ้กเพื่อดูรายละเอียด</a> 
                    </div>
                    <div class="row">
                        <div class="col" ng-repeat="pic in snake.imgs">
                            <img ng-src="img/snake/{{pic}}" width="100%" ng-click="openModal(pic)"/>
                        </div>
                    </div>
                    <p style="margin-bottom:0px;text-align:right" ng-hide="$last">กดที่รูปภาพเพื่อดูภาพขนาดใหญ่</p>
                </div> 
            </ion-list>
        </div>
        
        <div class="padding">
            <button class="button button-block button-positive" ng-click="confirm()">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>


<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-stable">
            <h1 class="title">View Image</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
        </ion-header-bar>
        <ion-content class="padding" scroll="false" style="background-image:none">
            
            <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
            <img ng-src="{{imgUrl}}">
        </ion-scroll>
            
        </ion-content>
    </ion-modal-view>
</script>