<ion-view title="General Symptom (#3)">
    <ion-content>
        <div class="padding border">
            <div class="header_title">
                <h3 style="font-weight:600">Does the patient has systemic bleeding?</h2>
                <button class="button" ng-class="b_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('b_y_class', 'b_n_class')">Yes</button>
                <button class="button" ng-class="b_n_class" style="width:40%" ng-click="toggleNoSelection('b_n_class', 'b_y_class')">No</button>
            </div>
            <div class="header_title">
                <h3 style="font-weight:600">Does the patient has impending respiratory failure?</h2>
                <button class="button" ng-class="r_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('r_y_class', 'r_n_class')">Yes</button>
                <button class="button" ng-class="r_n_class" style="width:40%" ng-click="toggleNoSelection('r_n_class', 'r_y_class')">No</button>
            </div>
            
            <ion-list>
                <div class="header_title" style="margin-top:10px;margin-bottom:0px">
                    <h2 style="margin-bottom:0px">Type of Snake</h2>
                </div>
                <div ng-repeat="snake in snakes" class="item item-checkbox" style="padding-left:50px">
                    <div class="checkbox" style="width:40px">
                        <input type="checkbox" ng-model="snakeCheckbox[snake.snake_id]" ng-change="snakeTypeSelect(snake.snake_id)">
                    </div>
                    <div class="text-center">
                        <a ng-click="openPopover($event, snake.snake_id)" style="word-wrap: break-word;white-space:normal">{{snake.snake_thai_name}}</a> 
                    </div>
                    <div class="row">
                        <div class="col">
                            <img ng-src="{{snake.imgs[0]}}" width="100%"/>
                        </div>
                        <div class="col">
                            <img ng-src="{{snake.imgs[1]}}" width="100%"/>
                        </div>
                    </div>
                </div> 
            </ion-list>
        </div>
        
        <div class="padding">
            <button class="button button-block button-positive" ng-click="confirm()">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>