<ion-view>
    <ion-content>
        <div class="card info-list">
            <div class="item row">
                <div class="col">INR :</div>
                <div class="col">{{bloodTest.INR}}</div>
            </div>
            <div class="item row">
                <div class="col">20 Minutes WBCT :</div>
                <div class="col">{{bloodTest.WBCT}}</div>
            </div>
            <div class="item row">
                <div class="col">WBC :</div>
                <div class="col">{{bloodTest.WBC}}</div>
            </div>
            <div class="item row">
                <div class="col">Hct :</div>
                <div class="col">{{bloodTest.Hct}}</div>
            </div>
            <div class="item row">
                <div class="col">Platelet :</div>
                <div class="col">{{bloodTest.platelets}}</div>
            </div>
            <div class="item row">
                <div class="col">Blood :</div>
                <div class="col">{{bloodTest.ua_blood}}</div>
            </div>
            <div class="item row">
                <div class="col">RBC :</div>
                <div class="col">{{bloodTest.RBC}}</div>
            </div>
            <div class="item row">
                <div class="col">Creatinine :</div>
                <div class="col">{{bloodTest.creatinine}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>