<ion-view view-title="Blood Test (#4.1)">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-folder" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="header_title">
            <h3 class="light" style="font-weight:600">Management of Hematotoxic Snake <span style="color:red">{{snake.snake_name}}<span></h3>
        </div>

        <div class="card info-list">
            <div class="item item-divider">Information</div>
            <div class="item row">
                <div class="col">Physician Name :</div>
                <div class="col">{{user.physician_name}}</div>
            </div>
            <div class="item row">
                <div class="col">Patient Name :</div>
                <div class="col">{{patient.patient_name}}</div>
            </div>
        </div>

        <div class="card unit-list">
            <div class="item item-input" style="background-color:lightblue">
                <span class="input-label">INR</span>
                <input type="text" placeholder="INR" ng-model="bloodTest.INR">
                <span class="input-label" style="width:100px"></span>
                <button class="button" ng-class="inr_class" ng-click="toggleINRValue(0.8)" style="margin-right:10px;width:180px">Default < 1.2</button>
            </div>
        </div>
        <div class="card unit-list">
            <div class="item item-select" style="background-color:lightblue">
                <div class="input-label">20 Minutes WBCT</div>
                <select ng-model="bloodTest.WBCT" style="background-color:lightblue">
                    <option>Clotted</option>
                    <option>Unclotted</option>
                </select>
            </div>
        </div>
        <div class="card unit-list">
            <div class="item item-divider">CBC</div>
            <div class="item item-input">
                <span class="input-label">WBC</span>
                <input type="text" placeholder="WBC" ng-model="bloodTest.WBC">
                <span class="input-label" style="width:100px">cells/mcl</span>
                <span class="input-label" style="width:180px"></span>
            </div>
            <div class="item item-input">
                <span class="input-label">Hct</span>
                <input type="text" placeholder="Hct" ng-model="bloodTest.Hct">
                <span class="input-label" style="width:100px">%</span>
                <span class="input-label" style="width:180px"></span>
            </div>
            <div class="item item-input" style="background-color:lightblue">
                <span class="input-label">Platelet</span>
                <input type="text" placeholder="Platelet" ng-model="bloodTest.platelets">
                <span class="input-label" style="width:100px">/mcl</span>
                <button class="button" ng-class="p_class" ng-click="togglePlateletValue(150000)" style="margin-right:10px;width:180px">Default >= 100,000</button>
            </div>
        </div>
        <div class="card unit-list" ng-show="snake.snake_id == 0">
            <div class="item item-divider">UA</div>
            <div class="item item-select">
                <div class="input-label">Blood</div>
                <select ng-model="bloodTest.ua_blood">
                    <option>Positive</option>
                    <option>Negative</option>
                </select>
            </div>
            <div class="item item-select">
                <div class="input-label">RBC</div>
                <select ng-model="bloodTest.RBC">
                    <option>0 - 1</option>
                    <option>2 - 5</option>
                    <option>5 - 10</option>
                    <option>10 - 20</option>
                    <option>20 up</option>
                </select>
            </div>
            <div class="item item-input">
                <span class="input-label">Creatinine</span>
                <input type="text" placeholder="Creatinine" ng-model="bloodTest.creatinine">
                <span class="input-label" style="width:100px">mg/dl</span>
                <span class="input-label" style="width:180px"></span>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="confirm(bloodTest)">
                Confirm
            </button>
        </div>
    </ion-content>
</ion-view>