<ion-view>
    <ion-content>
        <div class="card info-list">
            <div class="item row">
                <div class="col">INR :</div>
                <div class="col">1</div>
            </div>
            <div class="item row">
                <div class="col">20 Minutes WBCT :</div>
                <div class="col">Clotted</div>
            </div>
            <div class="item row">
                <div class="col">WBC :</div>
                <div class="col">1</div>
            </div>
            <div class="item row">
                <div class="col">Hct :</div>
                <div class="col">1</div>
            </div>
            <div class="item row">
                <div class="col">Platelet :</div>
                <div class="col">1</div>
            </div>
            <div class="item row">
                <div class="col">Blood :</div>
                <div class="col">Positive</div>
            </div>
            <div class="item row">
                <div class="col">RBC :</div>
                <div class="col">0 - 1</div>
            </div>
        </div>
    </ion-content>
</ion-view>