<ion-view>
    <ion-content>
        <div class="card info-list">
            <div class="item row">
                <div class="col col-20">Stage :</div>
                <div class="col col-80" style="white-space: normal;">{{bloodTest.action_text}}</div>
            </div>
            <div class="item row">
                <div class="col">ครั้งที่ :</div>
                <div class="col">{{bloodTest.stage_times}}</div>
            </div>
            <div class="item row">
                <div class="col">เวลา :</div>
                <div class="col">{{bloodTest.date_time}}</div>
            </div>
            <div class="item row">
                <div class="col">INR :</div>
                <div class="col">{{bloodTest.INR}}</div>
            </div>
            <div class="item row">
                <div class="col">20 Minutes WBCT :</div>
                <div class="col">{{bloodTest.WBCT}}</div>
            </div>
            <div class="item row">
                <div class="col">WBC :</div>
                <div class="col">{{bloodTest.WBC}}</div>
            </div>
            <div class="item row">
                <div class="col">Hct :</div>
                <div class="col">{{bloodTest.Hct}}</div>
            </div>
            <div class="item row">
                <div class="col">Platelet :</div>
                <div class="col">{{bloodTest.platelets}}</div>
            </div>
            <div class="item row">
                <div class="col">Blood :</div>
                <div class="col">{{bloodTest.ua_blood}}</div>
            </div>
            <div class="item row">
                <div class="col">RBC :</div>
                <div class="col">{{bloodTest.RBC}}</div>
            </div>
            <div class="item row">
                <div class="col">Creatinine :</div>
                <div class="col">{{bloodTest.creatinine}}</div>
            </div>
        </div>
        <div class="padding" style="text-align:center" ng-show="show_edit_button">
            <button class="button button-positive" ng-click="editBloodTest()">
                แก้ไขผลการตรวจเลือด
            </button>
        </div>
    </ion-content>
</ion-view>