<ion-view view-title="Management (#5.1-4)">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-folder" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="header_title">
            <h3 class="light" style="font-weight:600">Management of Hematotoxic Snake <span style="color:red">{{snake.snake_name}}<span></h3>
        </div>
        <div class="card info-list">
            <div class="item item-divider">Information</div>
            <div class="item row">
                <div class="col">Physician Name :</div>
                <div class="col" style="white-space:pre-line">{{user.physician_name}}</div>
            </div>
            <div class="item row">
                <div class="col">Patient Name :</div>
                <div class="col" style="white-space:pre-line">{{patient.patient_name}}</div>
            </div>
            <div class="item row">
                <div class="col">Has systemic bleeding :</div>
                <div class="col">{{record.systemic_bleeding == 0 ? "No" : "Yes"}}</div>
            </div>
            <div class="item row">
                <div class="col col-90" style="white-space:pre-line">Have impending respiratory failure :</div>
                <div class="col">{{record.respiratory_failure == 0 ? "No" : "Yes"}}</div>
            </div>
            <div class="item row">
                <div class="col">Snake Type :</div>
                <div class="col">{{snake.snake_thai_name}}</div>
            </div>
        </div>
       
        <div class="card info-list">
            <div class="item item-divider" style="background-color:lightcoral">
                <span style="float:left">Current State</span>
            </div>
            <div class="item" style="white-space:pre-line;padding-bottom: 0px">{{action_text}} {{times}} {{consult_reason}}
                <div style="white-space:normal;">
                    <!--<button class="button button-calm" ng-click="closeCase()" ng-show="show_close_case" style="height:50px;margin-top:15px;margin-right:10px">Close case</button>-->
                    <button class="button button-assertive" ng-click="skip()" ng-show="show_skip" style="height:50px;margin-top:15px;margin-right:10px">Next</button>
                    <a ng-href="tel:{{stage.additonal_action}}" class="button button-balanced" style="width:162px;height:50px;margin-top:15px;" ng-show="show_call">Call {{stage.additonal_action}}</a>
                </div>
            </div>
        </div>

        <div class="card info-list" ng-show="show_checktime">
            <div class="item item-divider row">
                <div class="col col-80" style="white-space: normal;font-weight: 500;margin-top: 5px">Number of check and notification times</div>
                <div class="col col-20">
                    <button class="button button-calm button-small" ng-click="doRefresh()">Refresh</button>
                </div>
            </div>
            <div class="item">
                <ul class='indicate-circle'>
                    <li ng-repeat="(index, item) in totalCheckTimes" ng-class="item.class">{{item.number}}</li>
                </ul>  
            </div>
            <div class="item">
                <div style="float:left;margin-right: 20px;margin-bottom: 5px">
                    <ul class='indicate-circle' style="float: left;">
                        <li class="active"></li>
                    </ul>
                    <div style="float: left;margin:6px 0px 0px 5px">จำนวนครั้งที่ตรวจไปแล้ว</div>
                </div>
                <div style="float:left;margin-right: 20px">
                    <ul class='indicate-circle' style="float: left;">
                        <li class="notif"></li>
                    </ul>
                    <div style="float: left;margin:6px 0px 0px 5px">จำนวนครั้งที่แจ้งเตือนไปแล้ว</div> 
                </div>
            </div>
        </div>
        
        <!--<div class="card info-list">
            <div class="item item-divider">
                <span style="float:left">Lestest Blood Test Result</span>
                <a ng-click="navigateToBloodResultList()" style="float:right">View all results</a>
            </div>
            <div class="item row">
                <div class="col">INR :</div>
                <div class="col">{{bloodTest.INR}}</div>
            </div>
            <div class="item row">
                <div class="col">20 Minutes WBCT :</div>
                <div class="col">{{bloodTest.WBCT}}</div>
            </div>
            <div class="item row">
                <div class="col">WBC :</div>
                <div class="col">{{bloodTest.WBC}}</div>
            </div>
            <div class="item row">
                <div class="col">Hct :</div>
                <div class="col">{{bloodTest.Hct}}</div>
            </div>
            <div class="item row">
                <div class="col">Platelet :</div>
                <div class="col">{{bloodTest.platelets}}</div>
            </div>
            <div class="item row">
                <div class="col">Blood :</div>
                <div class="col">{{bloodTest.ua_blood}}</div>
            </div>
            <div class="item row">
                <div class="col">RBC :</div>
                <div class="col">{{bloodTest.creatinine}}</div>
            </div>
        </div>-->
        
        <div class="card info-list">
            <div class="item item-divider">More information</div>
            <div class="item"><a ng-click="showPopup(0)">Indication for antivenom</a></div>
            <div class="item"><a ng-click="showPopup(1)">How to manage</a></div>
        </div>
        
    </ion-content>
</ion-view>