<!DOCTYPE html>
<html ng-app="snakeEnvenomation">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/angular-md5/angular-md5.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?&sensor=false"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/service.js"></script>


</head>

<body>
    <ion-side-menus ng-controller="MainCtrl">
        <div ng-class="preventClick"></div>
        <ion-side-menu side="left">
            <ion-header-bar class="bar bar-header bar-dark">
                <button menu-close class="button button-clear button-primary" ng-click="logout()">Logout</button>
            </ion-header-bar>
            <ion-content style="background-image:none">       
                <ion-list>
                    <ion-item nav-clear menu-close href="#" class="item-icon-right" ng-click="newCase()">
                        Add new case
                        <i class="icon ion-ios-plus-outline"></i>
                    </ion-item>
                    <div class="item item-divider" style="background-color:lightgrey">Active Cases</div>
                    <ion-item nav-clear menu-close href="#" class="item-avatar" ng-click="selectRecord(record)" ng-repeat="(index, record) in activeRecords">
                        <img ng-src="img/snake/{{record.snake.imgs[0]}}">
                        <h2>{{record.patient.patient_name}}</h2>
                        <p>{{record.dateFormat + " " + record.incident_time}}</p>
                        <span class="badge badge-assertive" style="right:10px" ng-show="record.notif_active == 1">1</span>
                    </ion-item>
                    <div class="item item-divider" style="background-color:lightgrey">History Cases</div>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Search" ng-change="searchCases()" ng-model="my.search">
                    </label>
                    <ion-item nav-clear menu-close href="#" class="item-avatar" ng-click="selectClosedRecord(record)" ng-repeat="(index, record) in closedRecords">
                        <img ng-src="img/snake/{{record.snake.imgs[0]}}">
                        <h2>{{record.patient.patient_name}}</h2>
                        <p>{{record.dateFormat + " " + record.incident_time}}</p>
                        <span class="badge badge-assertive" style="right:10px" ng-show="record.notif_active == 1">1</span>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                <ion-nav-back-button class="button-icon"><span class="icon ion-ios-arrow-left"></span></ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="right">
            <ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>
            <ion-content style="background-image:none">
                <div class="list">
                    <div class="item item-divider" style="background-color:lightgrey">Important Info</div>
                    <ion-item nav-clear menu-close href="#" class="item-icon-right" ng-click="viewAnaphylaxis()">
                        Management for anaphylaxis
                        <i class="icon ion-arrow-right-b"></i>
                    </ion-item>
                    <ion-item nav-clear menu-close href="#" class="item-icon-right" ng-click="viewWoundCare()">
                        Wound care
                        <i class="icon ion-arrow-right-b"></i>
                    </ion-item>
                </div>
                <div class="list">
                    <div class="item item-divider" style="background-color:lightgrey">Current Process</div>
                    <ion-item nav-clear menu-close href="#" class="item-icon-right" ng-show="my.show_h_menu" ng-click="navigateToBloodResultList()">
                        View blood test results
                        <i class="icon ion-arrow-right-b"></i>
                    </ion-item>
                    <ion-item nav-clear menu-close href="#" class="item-icon-right" ng-show="my.show_n_menu" ng-click="navigateToWeaknessResultList()">
                        View motor weakness results
                        <i class="icon ion-arrow-right-b"></i>
                    </ion-item>
                    <ion-item nav-clear menu-close href="#" class="item-icon-right" ng-show="my.show_f_menu" ng-click="viewFlowChart()">
                        View flow chart
                        <i class="icon ion-arrow-right-b"></i>
                    </ion-item>
                </div>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>

</body>

</html>