<ion-modal-view style="min-width: 100%; min-height: 100%; top: 0; left: 0; right: 0; bottom: 0" ng-controller="RegisterCtrl">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Register</h1>
        <button class="button button-clear button-primary" ng-click="regisModal.hide()">Close</button>
    </ion-header-bar>
    <ion-content>
        <form name="registerForm" novalidate="" ng-submit="confirm(registerForm, user, confirm_password)">
            <div class="card">
                <div class="item item-input item-select">
                    <div class="input-label">ประเภทผู้ใช้งาน</div>
                    <select ng-model="user.physician_type" ng-change="selectUserType()">
                        <option>General</option>
                        <option>Physician</option>
                        <option>Nurse</option>
                        <option>Pharmacist</option>
                    </select>
                </div>
                <div class="item item-input" ng-class="{ 'has-error' : registerForm.physician_name.$invalid && registerForm.$submitted}">
                    <span class="input-label">ชื่อ - นามสกุล</span>
                    <input type="text" placeholder="Full Name" name="physician_name" ng-model="user.physician_name" required>
                </div>
                <div class="form-error" ng-show="registerForm.physician_name.$error.required && registerForm.$submitted">This field is required.</div>
                <div class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" name="email" ng-model="user.email" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required>
                </div>
                <div class="form-error" ng-show="registerForm.email.$error.required && registerForm.$submitted">This field is required.</div>
                <div class="form-error" ng-show="registerForm.email.$error.pattern && registerForm.$submitted">Email address is not valid.</div>
                <div class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
                </div>
                <div class="form-error" ng-show="registerForm.password.$error.required && registerForm.$submitted">This field is required.</div>
                <div class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="Confirm Password" ng-model="confirm_password">
                </div>
                <div class="form-error" ng-show="show_confirm_ps">Fields are not equal</div>
                <div class="item item-input">
                    <span class="input-label">เลขบัตรประชาชน</span>
                    <input type="number" placeholder="National ID" name="national_id" ng-model="user.national_id" required ng-pattern="/^[0-9]{13}$/">
                </div>
                <div class="form-error" ng-show="registerForm.national_id.$error.required && registerForm.$submitted">This field is required.</div>
                    <div class="form-error" ng-show="registerForm.national_id.$error.pattern && registerForm.$submitted">This field should be only number with length 13</div>
                <div class="item item-input" ng-show="show_username">
                    <span class="input-label">เลขใบประกอบวิชาชีพ</span>
                    <input type="text" placeholder="Physician ID" name="physician_id" ng-model="user.physician_id">
                </div>
                <div class="form-error" ng-show="registerForm.physician_id.$error.required && registerForm.$submitted">This field is required.</div>
                <div class="form-error" ng-show="show_phid_error">This field is malformed</div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>