<ion-view view-title="Reset Password">
    <ion-content>
        <form name="registerForm" novalidate="" ng-submit="confirm(registerForm, password, confirm_password)">
            <div class="card">
                <div class="item item-input">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="Password" name="password" ng-model="password" required>
                </div>
                <div class="form-error" ng-show="registerForm.password.$error.required && registerForm.$submitted">This field is required.</div>
                <div class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="Confirm Password" ng-model="confirm_password">
                </div>
                <div class="form-error" ng-show="show_confirm_ps">Fields are not equal</div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>