<ion-view view-title="Blood Test" id="blood_view">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-folder" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="header_title">
            <h3 class="light" style="font-weight:600">Management of Unknown Snake</h3>
        </div>
        <div class="padding border">
            <div>
                <div class="header_title" ng-show="show_ar">
                    <h3 style="font-weight:600">Acute renal failure</h3>
                    <button class="button" ng-class="ar_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('ar_y_class', 'ar_n_class')">Yes</button>
                    <button class="button" ng-class="ar_n_class" style="width:40%" ng-click="toggleNoSelection('ar_n_class', 'ar_y_class')">No</button>
                </div>
                <div class="header_title" ng-show="show_le">
                    <h3 style="font-weight:600">Local edema</h3>
                    <button class="button" ng-class="le_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('le_y_class', 'le_n_class')">Yes</button>
                    <button class="button" ng-class="le_n_class" style="width:40%" ng-click="toggleNoSelection('le_n_class', 'le_y_class')">No</button>
                </div>
                <div class="header_title" ng-show="show_indoor">
                    <h3 style="font-weight:600">Snakebites occurred indoor (e.g. house, factory)</h3>
                    <button class="button" ng-class="in_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('in_y_class', 'in_n_class')">Yes</button>
                    <button class="button" ng-class="in_n_class" style="width:40%" ng-click="toggleNoSelection('in_n_class', 'in_y_class')">No</button>
                </div>
                <div class="header_title" ng-show="show_jaw">
                    <h3 style="font-weight:600">Locked-jaw snakebite</h3>
                    <button class="button" ng-class="j_y_class" style="width:40%;margin-right:20px" ng-click="toggleYesSelection('j_y_class', 'j_n_class')">Yes</button>
                    <button class="button" ng-class="j_n_class" style="width:40%" ng-click="toggleNoSelection('j_n_class', 'j_y_class')">No</button>
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="confirm()">
                Confirm
            </button>
        </div>
    </ion-content>
</ion-view>