<ion-view view-title="Management">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="header_title">
            <h3 class="light" style="font-weight:600">Management of Snake {{snake.snake_name}}</h3>
        </div>
        <div class="card info-list">
            <div class="item item-divider">Information</div>
            <div class="item row">
                <div class="col">Physician Name :</div>
                <div class="col">{{user.physician_name}}</div>
            </div>
            <div class="item row">
                <div class="col">Patient Name :</div>
                <div class="col">{{patient.patient_name}}</div>
            </div>
            <div class="item row">
                <div class="col">Has systemic bleeding :</div>
                <div class="col">{{record.systemic_bleeding}}</div>
            </div>
            <div class="item row">
                <div class="col">Have impending respiratory failure :</div>
                <div class="col">{{record.respiratory_failure}}</div>
            </div>
            <div class="item row">
                <div class="col">Snake Type :</div>
                <div class="col">{{snake.snake_thai_name}}</div>
            </div>
        </div>
        
        <div class="card info-list">
            <div class="item item-divider" style="background-color:lightcoral">
                <span style="float:left">Current State</span>
            </div>
            <div class="item" style="white-space:pre-line;padding-bottom: 0px">{{stage.action_text}}
                <div style="margin-top:10px" ng-show="show_next_process"><button class="button button-assertive" ng-click="navigateToNextStage()">Go to next process</button></div>
            </div>
        </div>
        
    </ion-content>
</ion-view>