.has-subheader {
    top: 74px;
}

.bar-subheader {
    height: 30px;
}

.scroll-content {
    background-image: url('../img/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.yn_button{
  color:white !important;
  background-color:#68696B !important;
  border:0px !important;
  width: 100%;
  padding: 10px
}

.r_button{
  margin-bottom: 10px;
}
.selected{
  color:white !important;
  background-color: #0035AD !important;
  border:0px !important;
}

.nav{
  height:50px;
  background-color: #0035AD;
}

.header_title{
  text-align:center;
  margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    font-size: 18px;
}

.border{
  border: 1px solid;
  border-radius: 15px;
  padding: 15px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.snake_content{
  margin-bottom: 10px;
}

.snake_content .col-lg-5{

    padding-top:13%;
}

.snake_img{
  text-align: center;
}

.content_header{
  text-align: right;
}

.main_body{
  background-color: #0035AD;
}

.form-index{
  color: white;
}

.form-index label, .form-normal label{
  padding-top:8px;
}

.item input[type="text"] {
    width: 100%
}

.popover ion-content {
    background-image: none
}

.border .list .item {
    background-color: transparent;
    border-color: darkgray;
}

.unit-list .item input {
    text-align: right
}

.info-list .item .col:first-child {
    font-weight: bold
}

.info-list .item .col:last-child {
    text-align: right
}

label.item.has-error {  
  border-bottom: 2px solid red;
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
  margin: 5px 0;
}

.ui-datepicker {
	pointer-events: auto;
}


.indicate-circle li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: lightcyan;
  margin: 1px;
  color: lightblue;
  position: relative;
  float: left;
}

.indicate-circle .active {
  background: #40ff00;
  color: green;
}

.indicate-circle .notif {
  background: darkmagenta;
  color: white;
}

.zoom-pane {
  width: 100%;
  height: 100%;
}


.zoom-pane .scroll {
  min-height: 100%;
  /* Vertical align */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  width: 80%;
  vertical-align: middle;
}

.spinner svg {
  stroke: white;
  fill: white;
}

.loader {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #387ef5; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}